.Person {
  display: flex;
  align-items: center;
  justify-content: center;
  border-style: none;
  font-size: 25px;
  color: #6b818c;
  text-decoration: underline;
}

.HerdList {
  border-style: none;
}

.Profile-container {
  height: 50vh;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  justify-content: space-between;
  text-decoration: underline;
}

.Profile-title {
  font-family: "Hind Vadodara", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: underline;
}
